.notes-container{
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.note{
    background-color: white;
    display:flex;
    flex-direction: column;
    min-width: 300px;
    width: 30vw;
    min-height: 20vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.note-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color:blueviolet;
    cursor:pointer;
    margin-top:4vh;
    word-break: break-word;
    padding-left: 20px;
    padding-right: 20px;
}
.note-body{
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: large;
    word-break: break-word;
    padding-left: 20px;
    padding-right: 10px;
}
.buttons{
    display: flex;
    margin-top: auto;
    justify-content: center;
    padding-bottom: 20px;
}
.note-button{
    background-color:blueviolet;
    border:none;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    width: 10vw;
    min-width: 100px;
    height: 5vh;
    font-size: x-large;
    margin-top: 20px;
    cursor: pointer;
}
.delete-button{
    background-color:orangered;
}
.new-title-body{
    font-size: 150%;
    display: flex;
    justify-content: center;
}
.title-body-input{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 3vh;
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 5px;
}
.add-button{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.cancel-button-div{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.in-modal{
    margin-left: auto;
    margin-right: auto;
    margin-top:5vh ;
}
